player-connection-mode=Listen
player-connection-guid=320919346
player-connection-debug=0
player-connection-project-name=Knight's Adventure
player-connection-ip=192.168.1.226
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7b39240d9d494b609f7b53919d233c67
